<div style="display: flex;">
  <div class="card" style="width: 35rem; margin-right: 10px;">
    <img src="{{product.image}}" class="card-img-top" alt="product" />
  </div>
  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <h2 class="card-title">{{product.title}}</h2>
      <h3 class="card-text">NARX: {{product.price}} $</h3>
      <h4 class="card-text">BOR: {{product.amount}} </h4>
      <p class="card-text">Description: {{product.description}}</p>
    </div>
  </div>
</div>

{{!  Addition }}
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/add2" class="btn btn-success mb-5 mt-2" type="button">Yangi tovar keldi</a>
</div>

{{#if product.added.length}}
  <p class="fs-3">Skladda mavjud tovarlar ro`yxati</p>
{{/if}}

<ol class="list-group list-group-numbered mb-5">
  {{#each product.added}}
    <li
      class="list-group-item list-group-item-success d-flex justify-content-between align-items-start mb-1"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{user}} ---------- {{seriya}} ---------- {{comment}}</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{date}}</span>
    </li>
  {{/each}}
</ol>

{{! Sellings }}
{{#if product.amount}}
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/sold" class="btn btn-warning mb-5 mt-2" type="button">Tovar sotildi</a>
  </div>
{{/if}}

{{#if product.sold.length}}
  <p class="fs-3">Sotilgan tovarlar ro`yxati</p>
{{/if}}
<ol class="list-group list-group-numbered mb-5">
  {{#each product.sold}}
    <li
      class="list-group-item list-group-item-warning d-flex justify-content-between align-items-start mb-1"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{user}} ---------- {{seriya}} ---------- {{comment}}</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{date}}</span>
    </li>
  {{/each}}
</ol>